@model Online_Portal.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="super_container">
    <header class="header" style="display: none;">
        <div class="header_main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
                        <div class="header_search">
                            <div class="header_search_content">
                                <div class="header_search_form_container">
                                    <form action="#" class="header_search_form clearfix">
                                        <div class="custom_dropdown">
                                            <div class="custom_dropdown_list">
                                                <span class="custom_dropdown_placeholder clc">All Categories</span> <i class="fas fa-chevron-down"></i>
                                                <ul class="custom_list clc">
                                                    <li><a class="clc" href="#">All Categories</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="single_product">
        <div class="container-fluid" style=" background-color: #fff; padding: 11px;">
            <div class="row">
                <div class="col-lg-4 order-lg-2 order-1">
                    <div class="image_selected"><img src="@Model.MainImg.Replace("~","")" alt=""></div>
                </div>
                <div class="col-lg-6 order-3">
                    <div class="product_description">
                        <div class="product_name">@Model.ProductName</div>
                        <div> <span class="product_price">$@Model.Price</span> </div>
                        <hr class="singleline">
                        <div>
                            <span class="product_info">@(Model.IsAvaliable?"Available": "Not Available")</span><br>
                            <span class="product_info">Brand Name: @Model.BrandName</span><br>
                            <span class="product_info">Color:@Model.Color</span><br>
                            <span class="product_info">Processor:@Model.Processor</span><br>
                            <span class="product_info">Screen Size:@Model.ScreenSize</span><br>
                            <span class="product_info">Category:@Model.CategoryName</span>
                        </div>
                        <hr class="singleline">
                        <div>
                            <h4 class="text-center">Details</h4><br />
                            <p>@Model.Description</p>
                        </div>
                        <hr class="singleline">
                        <div class="row">
                            <div class="col-xs-6">
                                <button type="button" onclick="window.location.href='/product/AddToCart/@Model.ProductId'" class="btn btn-primary shop-button">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>