@model Online_Portal.Models.Customer
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header text-center">
    <h4>Registration</h4>
</div>
<div class="register-wrapper col-md-7 col-sm-12">
    <div class="card">
        <div class="card-header">
            <h4>Information</h4>
        </div>
        <div class="card-body">
            <form action="/user/register" method="post">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @if (ViewBag.success!=null )
                {
                    <span style="color:green">@ViewBag.success</span>
                }

                <div class="mb-3">
                    <label>First Name</label>
                    @Html.EditorFor(c => c.Fname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Fname, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    <label>Last Name</label>
                    @Html.EditorFor(c => c.Lname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Lname, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    <label>Email</label>
                    @Html.EditorFor(c => c.Email, new { htmlAttributes = new { @class = "form-control", type = "email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    <label>Password</label>
                    @Html.EditorFor(c => c.Password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    <label>Confirm Password</label>
                    @Html.EditorFor(c => c.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
                <button type="submit" class="btn btn-outline-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

